.header{
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6433,#f53e2d )
}
/* navbar */
.header__navbar{
    display: flex;
    justify-content: space-between;

}


.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 5px 0 0 0;
}

.header__navbar--item{
    margin: 0 10px;
    position: relative;
    z-index: 1;
}
.header__navbar--item,
.header__navbar-link-item{
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar--item--qr:hover .header__qr{
    /* hiện qr */
    display: block;
}
.header__navbar--item:hover,
.header__navbar-link-item:hover,
.header__navbar--item-icon:hover{
    color:   rgba(255,255,255,0.7);
    cursor: pointer;
}
.header__navbar--item-icon{
    font-size: 1.8rem;
    margin: -5px;
}
.header__navbar--item--bold {
    font-weight: 500;
}
.header__navbar--item--separate::after{
    content: "";
    height: 15px;
    border-left: 1px solid rgb(68, 68, 49);
    position: absolute;
    right: -10px;
}
.header__navbar--item--no--pointer{
    cursor: text;
    color: var(--white-color);
}
/* header qr code */
.header__qr{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 150%;
    border-radius: 2px;
    display: none;
    animation: fadeIn .3s ease;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.header__qr::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 30px;

    left: 0;
    top: -12%;
}
.header__qr--img{
    width: 100%;
    padding: 10px;
}
.header__qr--appdowload{
    display: flex;
    justify-content: space-between;
}

.header__qr--dowload--img:nth-child(1){
    height: 16px;
    margin-left: 22px;
}
.header__qr--dowload--img:nth-child(2){
    height: 16px;
    margin-right: 22px;
}
/* header notify */
.header__notify{
    position: absolute;
    width: 450px;
    top: 150%;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.1);
    background-color:var(--white-color) ;
    right: 0;
    border: 1px solid #d3d3d3;
    transform-origin: calc(100% - 32px) top;
    animation: headernotify .25s linear ;
    display: none;
}
.header__notify::before{
    content:"";
    border-width: 20px 30px;
    border-style:solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: relative;
    float: right;
    top:-30px;
}
.header__notify::after{
    content:"";
    width: 80px;
    height: 20px;
    position: absolute;
    top:-15px;
    left: 330px;
    
}
.header__navbar-link-item-click:hover .header__notify{
    display: block;
}
@keyframes headernotify{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{ opacity: 1;
        transform: scale(1);
    }
}
.header__notify--header{
    height: 40px;
    background-color: var(--white-color);
}
.header__notify--header h3{
    color: #999;
    margin: 0;
    font-weight: 400;
    font-size: 2rem;
    margin-left: 12px;
    line-height: 40px;
    cursor: default;
}
.header__notify--list{
    padding-left: 0 ;
    list-style: none;
    z-index: 2;
}
.header__notify--item:hover{
    background-color: #f7f7f7;
}
.header__notify--item--viewed{
    background-color: rgba(238,75,43,0.08)
}
.header__notify--link{
    display: flex;
    padding: 12px;  
    text-decoration: none;
}
.header__notify--img{
    width: 48px;
    object-fit: contain;
}
.header__notify--info{
    margin-left: 12px;
}
.header__notify--name{
    display: block;
    font-size: 1.5rem;
    color: var(--black-color);
    font-weight: 400;
}
.header__notify--descriotion{
    display: block;
    font-size: 1rem;
    color: #756f6e;
    line-height: 2rem;
}
.header__notify-footer{
    display: flex;
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    margin: auto;
    padding: 10px;
    font-size: 1.4rem;
    font-weight: 400;
    padding-top: 5px;
}
/* header-with search */
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 10px;
}
.header__logo{
    width: 200px;
}
.header__logo-img{
    width: 150px;
}
.header__search{
    flex:1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 3px;
    display: flex;
    align-items: center;
}
/* cart */
.header__cart{
    width: 150px;
    color: var(--white-color);
    text-align: center;
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}
.header__cart-icon{
    font-size: 2.5rem;
}
.header__cart-list{
    position: absolute;
    top:calc(100% + 10px);
    right: -4px;
    width: 400px;
    border-radius: 2px;
    background-color: var(--white-color);
    box-shadow:0,1px,10px 0,#ad1f1f;
    animation: fadeIn .3s ease;
    cursor: default;
    display: none;
    z-index: 1;
}
 .header__cart-list::after{
    content: "";
    position: absolute;
    right: 4px;
    top: -30px;
    cursor: pointer;
    border-width:20px;
    border-style:solid;
    border-color: transparent transparent var(--white-color) transparent;
}
.header__cart-list-msg{
    color: #756f6e;
    font-size: 1.6rem;
    display: none;
}
.header__cart-list--no-cart{
    padding: 24px 0;

}
.header__cart-list--no-cart .no-cart-shoping,
.header__cart-list--no-cart .header__cart-list-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.no-cart-shoping{
    width: 50%;
    display: none;
}
.header__cart-notice{
    position: absolute;
    padding: 1px 7px;
    background-color: var(--white-color);
    color: var(--text-color);
    top:-12px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    right: -15px;
    border-radius: 10px;
    border: 2px solid var(--primary-color);

}
.header__search-input-wrap{
    flex:1;
    position: relative;
}
.header__search-input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.6rem;
    padding: 0 10px;
    color: var(--text-color);
    border-radius: 3px;
}
.header__search-input:focus ~ .header__search-history{
    display: block;
    border-color: #ad1f1f;
}
.header__search-history{
    position: absolute;
    top:calc(100% + 13px);
    left: 0;
    width: calc(100% - 16px);
    border-radius:3px;
    box-shadow: 0 1px 5px #666;
    background-color: var(--white-color);
    overflow: hidden;
    display: none;
    z-index: 1;
}
.header__search-history-heading{
    margin:  12px;
    font-weight: 400;
    font-size: 1.4rem;
    color: #999;
}

.header__search-history-list{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.header__search-history-item{
    height: 38px;
    padding: 0 12px;
}
.header__search-history-item:hover{
    background-color: #fafafa;
}
.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}
.header__search-select{
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}
.header__search-select-label{
    font-size: 1.6rem;
    color: var(--text-color);
}
.header__search-select-icon{
    font-size: 1.6rem;
    color: #929292;
    margin: 0 14px;
    position: relative;
    top:2px;
    cursor: pointer;
}
.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    width: 60px;
    height: 34px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
}
.header__search-btn:hover{
    background-color: #cc6343;
    cursor: pointer;
}
.header__search-btn-icon{
    font-size: 2rem;
    color: var(--white-color);
}
.header__search-select:hover .header__search-list{
    display: block;
}
.header__search-select::after{
    content: "";
    width: 100%;
    height: 15px;
    position: absolute;
    top:100%;
    right: 0;
}
.header__search-list{
    width: 150px;
    list-style: none;
    position: absolute;
    right: 0;
    top: calc(100% - 3px);
    border-radius:3PX;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--white-color);
    padding: 8px 0;
    box-shadow: 0 1px 3px #ccc;
    overflow: hidden;
    display: none;
}

.header__search-list-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}
.header__search-list-item span{
    margin-left:12px;
    line-height: 4rem;
}
.header__search-list-icon{
    color: var(--primary-color);
    margin: 0 4px 0 12px;
}
.header__search-list-item i{
    display: none;
}
.header__search-list-item-active i{
    display: inline-block;
}
.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.6rem;
    font-weight: 400;
    color: #999;
}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    height: 50vh;
    overflow-y: scroll;
}
.header__cart-item{
    display: flex;
    align-items: center;
}
.header__cart-item:hover{
    background-color: #f8f8f8;
}
.header__cart-img{
    width: 43px;
    margin: 12px;
    border: 1px solid #e8e8e8;
}
.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}
.header__cart-item-info-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
    flex: 1;
    line-height: 2rem;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}

.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}
.header__cart-item-multiply{
    font-size: 0.8rem;
    margin: 0 5px;
    color: #757575;
}
.header__cart-item-qnt{
    font-size: 1.2rem;
    color: #757575;
}
.header__cart-item-body{
   display: flex;
   justify-content: space-between;
   padding-top: 15px;
}
.header__cart-item--description{
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;

}
.header__cart-item-remove{
    color: var(--text-color);
    font-size: 1.4rem;
    cursor: pointer;
}
.header__cart-item-remove:hover{
    color: var(--primary-color);
}
.header__cart-btn{
    padding: 10px 20px;
    float: right;
    background-color: var(--btn-primary);
    cursor: pointer;
    margin: 0 12px 12px 0;
}
/* container */
.container{
    background-color: #f5f5f5;
}
.app__content{
    padding-top: 30px;
}
.category{
    background-color: var(--white-color);
    border-radius: 2px;
}
.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;

}
.category__heading{
    font-size: 1.8rem;
    padding:12px 16px;
    margin-top: 0;
    border-bottom: 1px solid rgba(0,0,0,0.05);

}
.category-list{
    list-style: none;
    padding:0 0 8px 0;
    margin-left: 10px;
}
.category-item--active .category-item__link{
    color: var(--primary-color);
}
.category-item--active .category-item__link::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 7px;
    border: 5px solid;
    transform: translateY(-50%);
    border-color: transparent transparent transparent var(--primary-color);
}
.category-item__link{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 8px 16px;
    display: block;
    right: 0;
    transition: right linear .1s;
}
.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}
/* home sort+filter*/
.home-filter{
    background-color: rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}
.home-product{
    margin-bottom: 10px;
}
.home-filter__label{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}
.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__btn{
    margin-right: 12px;
    min-width: 90px;
}
.home-filter__page-num{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;

}
.home-filter__page-current{
    color: var(--primary-color);
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-btn{
    flex:1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}
.home-filter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}
.home-filter__page-btn:first-child{
    border-right: 1px solid #ccc;
}
.home-filter__page-btn--disabled{
    background-color: #f9f9f9;
    cursor: default;

}
.home-filter__page-btn--disabled .home-filter__page-icon{
   color: #ccc;
 }
 .bx{
    color: var(--white-color);
    font-size: 2rem;
    position: relative;
    top: 3px;
 }
 /* product-item */
 .product{
    display: block;
    text-decoration: none;
    width: 100%;
    border-radius: 2px;
    box-shadow: 0 1px 1px;
    margin-top: 10px;
    position: relative;
    transition: transform linear 0.1s;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}
.product:hover{
     transform: translateY(-2px);
     box-shadow: 0 1px 20px 0 rgba(0,0,0,0.05);
 }
 .product-img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;

 }
 .product-name{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px;
    overflow: hidden;           /*giới han chữ trong 2 dòng*/
    display: block;
    display: -webkit-box;   
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
 }
 .product-price{
    display: flex;
    margin-left: 10px;
    align-items: baseline;
 }
 .product-price-old{
    font-size: 1.3rem;
    color: #666;
    text-decoration: line-through;
 }
 .product-price-curren{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
 }
 .product-heart{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    align-items: baseline;
 }
 .product-heart-icon--liked .product-icon-like-fill{
    display: inline-block;
 }
 .product-heart-icon--liked .product-icon-like-empty{
    display: none;
 }
i.product-icon-like-fill{
    color: red;
    display: none;
}

 .product-icon{
    color: #555;
    font-size: 1rem;
 }
.product-brand{
    display: flex;
    justify-content: space-between;
    margin: 0 8px;
    font-size: 1rem;
    font-weight: 300;
}
.product-favorite{
    position: absolute;
    top: 10px;
    left: -5px;
    background-color: var(--primary-color);
    font-size: 1.4rem;
    padding-right:5px;
    font-weight: 400;
    line-height: 1.8rem;
    border-top-right-radius: 3px;   
    border-bottom-right-radius: 3px;
}
.product-favorite::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top:3px solid #555;
    border-left: 3px solid transparent;
}
.product-favorite i{
    margin:0 4px;
    font-size: 1.5rem;
    
}
.product-sale-off{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255,216,54,0.9);
    text-align: center;
}
.product-sale-off::after{
    content: "";
    position: absolute;
    bottom:-7px;
    right: 0;
    border-width:0 20px 7px;
    border-style: solid;
    color: rgba(255,216,54,0.9);
    border-color:transparent currentColor transparent currentColor ;
}
.product-sale-off-percent{
    color: #ad1f1f;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem;
    margin-top: 5px;
}
.product-sale-off-label{
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--white-color);
}
.pagination-list{
    margin-bottom: 50px;
}
.footer-title-1{
    font-weight: 500;
}
.footer-list{
    list-style:none;
    padding-left: 0;
}

.footer-list-link{
    text-decoration: none;
    color: #939393;
    font-size: 1.2rem;
    line-height: 30px;
}
.footer-list-link:hover{
    color: var(--primary-color);
}
